<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:mem:sandbox_hibernate;DB_CLOSE_DELAY=-1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

<!--        <property name="hibernate.cache.use_second_level_cache">true</property>-->
<!--        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>-->
<!--        <property name="hibernate.javax.cache.uri">classpath://ehcache.xml</property>-->
<!--        <property name="hibernate.cache.region.factory_class">jcache</property>-->

        <mapping class="com.github.lazyf1sh.sandbox.persistence.entities.Building"/>
        <mapping class="com.github.lazyf1sh.sandbox.persistence.entities.ChildEntity"/>
        <mapping class="com.github.lazyf1sh.sandbox.persistence.entities.BookEntity"/>
        <mapping class="com.github.lazyf1sh.sandbox.persistence.entities.PageEntity"/>
        <mapping class="com.github.lazyf1sh.sandbox.persistence.entities.OrganizationEntity"/>
        <mapping class="com.github.lazyf1sh.sandbox.persistence.entities.OrganizationGeneralDetails"/>
        <mapping class="com.github.lazyf1sh.sandbox.persistence.entities.OrganizationBuildingDetails"/>
        <mapping class="com.github.lazyf1sh.sandbox.persistence.entities.ParentEntity"/>
        <mapping class="com.github.lazyf1sh.sandbox.persistence.entities.ParentEntityWithEmbedded"/>
        <mapping class="com.github.lazyf1sh.sandbox.persistence.entities.GeneratedValueUuid"/>
        <mapping class="com.github.lazyf1sh.sandbox.persistence.entities.GeneratedValueUuid2"/>

        <!--        <property name="hibernate.format_sql">false</property>-->
    </session-factory>
</hibernate-configuration>